$info-background: #f3f5f7;
$secondary-color: #6c7275;
$secondary-label: #343839;
$discount-color: #38cb89;
$blue-accent: #377dff;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin thin {
  padding-left: 11.15%;
  padding-right: 11.15%;
}

body {
  margin: 0;
}

.margin-zero {
  margin: 0;
}

.page {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.info2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info2_img {
  width: 50%;
}

.info2_offer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: $info-background;
  padding: 8.33% 8.33% 5.2% 5.2%;
}
.info2_offer-sale-up {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: $blue-accent;
}
.info2_offer-head {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}
.info2_offer-desc {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.info2_offer-link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4;
  a:link {
    color: black;
  }
  a:visited {
    color: $secondary-color;
  }
}
.articles {
  padding: 4.16% 10% 4.16% 10%;
}
.articles_header {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4;
  padding-bottom: 40px;
}
.articles_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.articles_item {
  display: flex;
  flex-direction: column;
  width: 31.23%;
  gap: 12px;
}
.articles_name {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.articles_read {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4;
  &:link {
    color: black;
  }
  &:visited {
    color: $secondary-color;
  }
}
.newsletter {
  background-size: cover;
  padding: 7.05% 33% 7.05% 33%;
}
.newsletter_block {
  background-color: rgba(0, 0, 0, 0);
}
.newsletter_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.newsletter_header {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}
.newsletter_desc {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}
.newsletter_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 0.5px #afb3b5;
  padding-top: 20px;
  padding-bottom: 10px;
  color: $secondary-color;
  width: 100%;
}

.newsletter_form-left {
  display: flex;
  flex-direction: row;
  gap: 2.5%;
  width: 85%;
}

.newsletter_form-right {
  width: 15%;
}

.newsletter_form-input {
  border: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 480px) {
  .page {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  .description {
    flex-direction: column;
  }
  .description_item1 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
  }
  .description_item2 {
    font-size: 14px;
    line-height: 22px;
    padding-right: 0;
  }
  .new-arrivals_text-item2 {
    display: none;
  }
  .info2 {
    flex-direction: column;
  }
  .info2_img {
    width: 100%;
  }
  .info2_offer {
    padding: 10% 5% 5% 5%;
    width: auto;
  }
  .articles {
    padding: 12.5%;
  }
  .articles_item {
    width: 100%;
  }
  .articles_block {
    flex-direction: column;
    gap: 20px;
  }
  .newsletter {
    padding: 0;
  }
  .newsletter_block {
    position: static;
    top: 0;
    left: 0;
    width: auto;
    padding: 5%;
  }
  .newsletter_form-right {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align: left;
  }
}
