$info-background: #f3f5f7;
$secondary-color: #6c7275;

.slider {
  padding-left: 11.15%;
  padding-right: 11.15%;
  position: relative;
  overflow: hidden;
}
.slide_carousel-imgs {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-shrink: 0;
  transition: transform 1s cubic-bezier(0.37, 0, 0.63, 1);
}
.slide_filter-left {
  background-color: white;
  width: 27.8%;
  height: 560px;
  position: absolute;
  margin-left: -27.8%;
  z-index: 10;
}
.slide_filter-right {
  background-color: white;
  width: 27.8%;
  height: 560px;
  position: absolute;
  margin-left: 77%;
  z-index: 10;
}
@mixin slide_button {
  align-content: bottom;
  position: absolute;
  border-radius: 50%;
  background-color: $info-background;
  width: 3%;
  height: 8.1%;
  top: 45.275%;
}
.slide_button-left {
  @include slide_button;
  color: $secondary-color;
  left: 13%;
  img {
    height: 100%;
  }
}
.slide_button-right {
  @include slide_button;
  color: #141718;
  right: 13%;
  img {
    height: 100%;
  }
}
.slide_indicator {
  position: absolute;
  bottom: 5%;
  width: 77.7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.slide_indicator-light {
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.slide_indicator-shadow {
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 480px) {
  .slider {
    padding-left: 0;
    padding-right: 0;
    margin-right: 11.1%;
    margin-left: 11.1%;
  }
  .slide_button-left {
    display: none;
  }
  .slide_button-right {
    display: none;
  }
}
